
<style type="text/css">
  .ahoy {
    font-size: 18px;
    margin-bottom: 10px;
  }
</style>


<script type="text/javascript">window.runningTryJasmineSpecs = true;</script>
  <div class="ahoy">Ahoy! These are the specs for <a href="http://try-jasmine.heroku.com">try-jasmine.heroku.com</a>. <a href="https://github.com/searls/try-jasmine/tree/master/public/spec">Peruse them</a> on Github.</div>
  <script type="text/javascript">
    jQuery(function($){
      $.get('spec/try-it-spec.coffee',function(coffee) {
        eval(CoffeeScript.compile(coffee,{bare:true}));
        jasmine.getEnv().addReporter(new self.jasmine.TrivialReporter());
        jasmine.getEnv().execute();
      });
    });
  </script>
